# Obecné
node_modules/
dist/
build/
.DS_Store
.env

# SAP UI5
/webapp/neo-app.json
/webapp/resources/
.webapp/localService/mockserver.js

# Backend
/backend/node_modules/

# Editor a systémové soubory
.vscode/
*.log
